# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints (if applicable)
.ipynb_checkpoints/

# MacOS files
.DS_Store

# UML cache
/assets/.$UML.drawio.bkp